language: python

python:
  - "3.3"
  - "3.4"
  - "2.7"
  - "2.6"

env:
  - DJANGO="https://www.djangoproject.com/download/1.7.b4/tarball/"
  - DJANGO="django==1.6.5"
  - DJANGO="django==1.5.8"

install:
  - pip install $DJANGO
  - pip install -e .
  - pip install flake8

before_script:
  - flake8 --exclude=migrations --ignore=E501,E225,E128,E126,F401,F403 contact_form
  - cd contact_form/tests

matrix:
  exclude:
   - python: "2.6"
     env: DJANGO="https://www.djangoproject.com/download/1.7.b4/tarball/"

script: python ./runtests.py