language: python

python:
  - "3.3"
  - "3.2"
  - "2.7"
  - "2.6"

env:
  - DJANGO="https://www.djangoproject.com/download/1.7.b4/tarball/"
  - DJANGO="django==1.6.5"
  - DJANGO="django==1.5.8"

install:
  - pip install $DJANGO
  - pip install -r requirements.txt
  - pip install -e .
  - pip install pep8

before_script:
  - "pep8 --exclude=migrations --ignore=E501,E225,E128 ."
#  - if [[ $TRAVIS_PYTHON_VERSION == '2.7' ]]; then pyflakes -x W ipware; fi

matrix:
  exclude:
   - python: "2.6"
     env: DJANGO="https://www.djangoproject.com/download/1.7.b4/tarball/"

script: python manage.py test